.navbar-text {
    color: #000000;
    font-size: 1.1em;
}
.navbar-text {
    color: #808080;
}
#areaChart {
    width: 400px;
    height: 300px;
}
.card-body {
    font-size: 14px;
}
.recoImg {
    max-width: 100%;
    object-fit: contain;
}
.w-90 {
    width: 90% !important;
}
.w-10 {
    width: 10% !important;
}
.widgets {
    display: flex;
    justify-content: space-around;
}

.padd16 {
    padding: 1rem 2rem;
    // height: 80vh;
    overflow: auto;
    .m-0 {
        margin: 0px !important;
    }
    .card {
        box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
        border-radius: 10px;
        padding: 0px;
        margin: 0px;
    }

    .recoImg {
        // max-width: 100%;
        object-fit: contain;
    }

    .dot {
        height: 10px;
        width: 10px;
        background-color: red;
        border-radius: 50%;
        margin-right: 5px;
        display: inline-block;
    }

    .recomendColor {
        height: 10px;
        width: 10px;
        background-color: yellow;
        border-radius: 50%;
        margin-right: 10px;
        display: inline-block;
    }
    .calenderImg {
        max-width: 100%;
    }
    .grapChart {
        .calenderContent {
            color: #fff;
            background-color: #5f2562;
        }
    }
}
