<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <img src="../../assets/logo.png" alt="img" class="headerImg">

                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/footer" routerLinkActive="active">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link linkItem" routerLink="/footer" routerLinkActive="active">Accounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link linkItem" routerLink="/footer" routerLinkActive="active">Coverages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link linkItem" routerLink="/footer" routerLinkActive="active">Journeys</a>

                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <span class="navbar-text">
                    <div class="dropdown">
                        <span class="userIcon">  <i class="fa fa-user-o" aria-hidden="true"></i>
                            <span class="noof">2</span>
                        </span>
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2"
                            data-toggle="dropdown" aria-expanded="false">
                            
                            <!-- <i class="fa fa-user-circle-o" aria-hidden="true"></i> -->
                            Hi Thalla
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">Profile</button>
                            <button class="dropdown-item" type="button">Accounts</button>
                            <button class="dropdown-item" type="button">Logout</button>
                        </div>
                      <span class="callIcon">  <i class="fa fa-phone" aria-hidden="true"></i> </span>

                    </div>
                    
                </span>
                <i class="fa fa-search" style="padding-left: 10px;" aria-hidden="true"></i>
            </form>
        </div>
    </nav>
</header>