<div class="card loginContainter">
    <header class="header-style-1">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <img src="../../assets/logo.png" alt="img" class="headerImg">
                </ul>
            </div>
        </nav>
    </header>
    <div class="div-center">
        <div class="content">
            <h5 class="text-center">Welcome</h5>
            <img src="../../assets/logo.png" alt="logo" class="logoImg">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary shapeCircle" (click)="doLogin()">Login</button>

                <div class="fortInfo">
                    <p class="text-left mt-0">Forgot Your <a href="#" class="text-primary"> Username?</a> <span
                            class="float-right">Forgot Your <a href="#" class="text-primary"> Password?</a> </span></p>

                </div>
                <div class="fortInfo">
                    <p class="text-center">Don't have a Username?<a href="#" class="text-primary"> Register now?</a>
                    </p>

                </div>
            </form>
        </div>
    </div>
    <footer class="footer">
        <p><img src="../../assets/footer.png" class="headerImg"> &copy; Voya Services Company. All rights reserved.</p>
    </footer>
</div>